.Actions {
  text-align: center;

  button {
    margin-left: 10px;
  }
}

.Canvas {
  width: 100% !important;
  min-height: 500px !important;
}

.Solution {
  text-align: center;

  input {
    margin: 0 10px;
  }
}

.Move {
  background-color: var(--nc-bg-2);
  padding: 10px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;

  &Active {
    @extend .Move;
    background-color: var(--nc-bg-3);
    font-weight: bold;
  }
}
